<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
 <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
 <link rel="shortcut icon" href="img/fav.png">
 <meta name="author" content="codepixer">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta charset="UTF-8">
 <title>Dormmate</title>

 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
 <!--
			CSS
			============================================= -->
 <link rel="stylesheet" href="css/linearicons.css">
 <link rel="stylesheet" href="css/font-awesome.min.css">
 <link rel="stylesheet" href="css/bootstrap.css">

 <link rel="stylesheet" href="css/main.css">
<style>
  .chat {
    width: auto;
    height: 400px;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
    overflow-y: scroll;
    }
    .chat-title {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: #333;
    color: white;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 10px 10px 50px;
    }
    .chat-title h1, .chat-title h2 {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
    }
    .chat-title h2 {
    color: black;
    font-size: 12px;
    letter-spacing: 1px;
    }
    .chat-title .avatar {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 9px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);
    }
    .chat-title .avatar img {
    width: 100%;
    height: auto;
    }
    
    .messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    }
    
    .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    }
    
    .yours {
    align-items: flex-start;
    }
    
    .yours .message {
    margin-right: 25%;
    background-color: rgba(226,109,48,1);
    position: relative;
    color: black;
    font-size: 1.5vh;
    }
    
    .yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background:rgba(226,109,48,1);
    border-bottom-right-radius: 15px;
    }
    .yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    }
    
    .mine {
    align-items: flex-end;
    }
    
    .mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
    font-size: 1.5vh;
    }
    
    .mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
    }
    
    .mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    }
    .demoScroll {
    height: 300px;
    overflow-y: auto;
    width: 50px;
    }
    .h600 {
    height: 600px;
    }
    .sc3::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    }
    .sc3::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    }
    .sc3::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    }
    .message-box {
    flex: 0 1 40px;
    width: 100%;
    background: #333;
    padding: 10px;
    position: relative;
    }
    .message-box .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5vh;
    height: 5vh;
    margin: 0;
    min-width: 200px;
    width: 100%;
    max-width: 800px;
    }
    .message-box textarea:focus:-webkit-placeholder {
    color: transparent;
    }
    .message-box .message-submit {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 10px;
    color: #fff;
    border: none;
    background: #248A52;
    font-size: 1.5vh;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    transition: background 0.2s ease;
    }
    .message-box .message-submit:hover {
    background: #1D7745;
    }
</style>
</head>

<body>

 <header id="header" id="home">
  <div class="container">
   <div class="row align-items-center justify-content-between d-flex">
    <div id="logo">
     <h1 class="text-white text-uppercase">Dormmate</h1>
    </div>
    <nav id="nav-menu-container">
     <ul class="nav-menu">
      <li class="menu-active"><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li class="menu-has-children"><a href="">Pages</a>
       <ul>
        <li><a href="generic.html">Generic</a></li>
        <li><a href="elements.html">Elements</a></li>
       </ul>
      </li>
      <li>
       <a href="#" class="text-dark primary-btn user text-uppercase"><img src="img/user.jpg" style="border-radius: 50%;">&emsp;Welcome, User!</a>
      </li>
     </ul>
    </nav>
    <!-- #nav-menu-container -->
   </div>
  </div>
 </header>
 <!-- #header -->


 <!-- start banner Area -->
 <section id="home">
  <div class="container">
   <div class="row fullscreen d-flex align-items-center">
    <div class="wrapper-flex" style="width: 100%;">
     <div class="container-card-for-insideRoom">
      <div class="row">
        <div class="col-lg-6">
            <a href="/room" class="arrow-button"><span class="arrow-left slide-right">BACK</span></a>
        </div>
        <div class="col-lg-12">

        </div>
        <div class="col-lg-12">
            <div class="chat sc3">
                <div class="chat-title sticky-top">
                    <h1 class="text-white">Soy Lebumfacil</h1>
                    <h2 class="text-white">Host</h2>
                    <figure class="avatar">
                      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" /></figure>
                  </div>
                <div class="mine messages">
                  <div class="message last">
                    Mafumafu
                   </div>
                </div>
                <div class="yours messages">
                  <div class="message">
                    Hey!
                  </div>
                  <div class="message">
                    You there?
                  </div>
                  <div class="message last">
                    Hello, how's it going?
                  </div>
                </div>
                <div class="mine messages">
                  <div class="message">
                    Allan Gamay D
                  </div> 
                  <div class="message last">
                    How about you?
                   </div>
                </div>
                <div class="mine messages">
                    <div class="message last">
                      Dude
                     </div>
                  </div>
                  <div class="yours messages">
                    <div class="message">
                      Hey!
                    </div>
                    <div class="message">
                      You there?
                    </div>
                    <div class="message last">
                      Hello, how's it going?
                    </div>
                  </div>
                  <div class="mine messages">
                    <div class="message">
                      Great thanks!
                    </div> 
                    <div class="message last">
                      How about you?
                     </div>
                  </div>
              </div>
              <div class="message-box">
                <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
                <button type="submit" class="message-submit">Send</button>
              </div>
        </div>
      </div>
     </div>

     </div>
    </div>
   </div>
 </section>
 <!-- End banner Area -->
 <script src="js/chat.js"></script>
 <script src="js/main.js"></script>
 <script src="js/vendor/jquery-2.2.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="js/vendor/bootstrap.min.js"></script>
 <script src="js/easing.min.js"></script>
 <script src="js/hoverIntent.js"></script>
 <script src="js/superfish.min.js"></script>
 <script src="js/jquery.ajaxchimp.min.js"></script>
 <script src="js/jquery.magnific-popup.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/jquery.sticky.js"></script>
 <script src="js/jquery.nice-select.min.js"></script>
 <script src="js/parallax.min.js"></script>
 <script src="js/waypoints.min.js"></script>
 <script src="js/jquery.counterup.min.js"></script>
</body>
</html>