<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
 <link rel="shortcut icon" href="img/fav.png">
 <meta name="author" content="codepixer">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta charset="UTF-8">
 <title>Dormmate - Find Lobbies</title>

 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
 <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <!--
			CSS
			============================================= -->
 <link rel="stylesheet" href="css/linearicons.css">
 <link rel="stylesheet" href="css/font-awesome.min.css">
 <link rel="stylesheet" href="css/bootstrap.css">
 <link rel="stylesheet" href="css/magnific-popup.css">
 <link rel="stylesheet" href="css/nice-select.css">
 <link rel="stylesheet" href="css/animate.min.css">
 <link rel="stylesheet" href="css/owl.carousel.css">
 <link rel="stylesheet" href="css/main.css">
 
 <script>
    $(document).ready(function() {
      //Filter Lobby
           $(".filter").hide();
           $(".filter-close").hide();
           $(".filter-search").focus(function(){
               $(".filter-search").hide();
               $(".filter").show(400);
               $(".filter-close").show();
           });
           $(".filter-close").focus(function(){
               $(".filter-close").hide();
               $(".filter-search").show();
               $(".filter").hide(400);
           });
      //Gender Buttons btn-gender
           $(".btn-gender-male").hide();
           $(".btn-gender-female").hide();
           $(".btn-gender-any").focus(function(){
               $(".btn-gender-any").hide();
               $(".btn-gender-male").show();
           });
           $(".btn-gender-male").focus(function(){
               $(".btn-gender-male").hide();
               $(".btn-gender-female").show();
           });
           $(".btn-gender-female").focus(function(){
               $(".btn-gender-female").hide();
               $(".btn-gender-any").show();
           });
      //Student Buttons btn-student
           $(".btn-student-yes").hide();
           $(".btn-student-any").focus(function(){
               $(".btn-student-any").hide();
               $(".btn-student-yes").show();
           });
           $(".btn-student-yes").focus(function(){
               $(".btn-student-yes").hide();
               $(".btn-student-any").show();
           });
      //Wifi buttons btn-wifi
           $(".btn-wifi-yes").hide();
           $(".btn-wifi-any").focus(function(){
               $(".btn-wifi-any").hide();
               $(".btn-wifi-yes").show();
           });
           $(".btn-wifi-yes").focus(function(){
               $(".btn-wifi-yes").hide();
               $(".btn-wifi-any").show();
           });
      //Smoking buttons btn-smoking
           $(".btn-smoking-no").hide();
           $(".btn-smoking-any").focus(function(){
               $(".btn-smoking-any").hide();
               $(".btn-smoking-no").show();
           });
           $(".btn-smoking-no").focus(function(){
               $(".btn-smoking-no").hide();
               $(".btn-smoking-any").show();
           });
      //Alcohol buttons btn-alcohol
           $(".btn-alcohol-no").hide();
           $(".btn-alcohol-any").focus(function(){
               $(".btn-alcohol-any").hide();
               $(".btn-alcohol-no").show();
           });
           $(".btn-alcohol-no").focus(function(){
               $(".btn-alcohol-no").hide();
               $(".btn-alcohol-any").show();
           });
      //Pets buttons btn-pets
           $(".btn-pets-no").hide();
           $(".btn-pets-any").focus(function(){
               $(".btn-pets-any").hide();
               $(".btn-pets-no").show();
           });
           $(".btn-pets-no").focus(function(){
               $(".btn-pets-no").hide();
               $(".btn-pets-any").show();
           });
   });
</script>
</head>

<body>

 <header id="header" id="home">
  <div class="container">
   <div class="row align-items-center justify-content-between d-flex">
    <div id="logo">
      <a href="/home"> <h1 class="text-white text-uppercase">Dormmate</h1> </a>
    </div>
    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li class="menu-active"><a href="/home">Home</a></li>
            <li><a href="/home#about">About</a></li>
                <li class="menu-has-children"><a class="text-white"><strong> <%= user[0].username %> </strong></a>
                    <ul>
                        <li> <li><a href="/signout">Sign-Out</a></li> </li>                       
                    </ul>
                </li>
        </ul>
    </nav>
    <!-- #nav-menu-container -->
   </div>
  </div>
 </header>
 <!-- #header -->


 <!-- start banner Area -->
 <section id="home">
  <div class="container">
   <div class="row fullscreen d-flex align-items-center justify-content-start"> 
    <!-- Empty Containers -->
    <div class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5">
          </div>
          <div class="col py-3 px-lg-5">
          </div>
        </div>
      </div>
   
      <div class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5">
          </div>
          <div class="col py-3 px-lg-5">
          </div>
        </div>
      </div>
      <!-- End of Empty -->

      <!-- Search form -->
      <div class="container px-lg-5">
        <div class="row mx-lg-n5">
         <div class="col py-3 px-lg-5">
           <!--   <input class="form-control" type="text" placeholder="Search using Location, Budget, Room Size.." aria-label="Search"> -->
          </div>
          <h4 class="text-white">Search for Lobbies & &nbsp;</h4>
          <h4 class="text-white">Filter Lobbies</h4>
          <div class="col py-3 px-lg-5">

          </div>
        </div>
      </div>

      <div class="container px-lg-5">
        <div class="row mx-lg-n5 ">
              <div class="offset-sm-0 offset-md-1 offset-lg-1 col-sm-8 col-md-7 col-lg-7">
                  <form class="form-inline d-flex justify-content-end md-form form-sm active-pink active-pink-2 mt-2">
                    <input class="form-control  w-100 mb-2 mt-1" type="text" placeholder="Search Location" aria-label="Search">
                    <!-- <i class="fas fa-search" aria-hidden="true"></i> -->
                  </form>
                </div>
                
                <div class="col-sm-4 col-md-3 mt-2 text-left">
                    <button class="filter-search btn-sm btn-danger w-100 mt-1 pl-2 pr-3 py-2 rounded" style="border: none;"><i class="fas fa-search-minus mx-1"></i> Filter</button> 
                    <button class="filter-close btn-sm btn-secondary w-100 mt-1 pl-2 pr-3 py-2 rounded" style="border: none;"><i class="fas fa-times-circle mx-1"></i> Cancel</button> 
              </div>
        </div>
      </div>

    <!--Filter Card-->
     <div class="filter filter-card offset-sm-1 col-sm-10 offset-lg-2 col-lg-8"> 
      <h5 class="text-dark text-uppercase"> <i class="fas fa-search-minus"> </i> &nbsp;Select Filters:</h5>
      <div class="col-lg-12"><hr></div>
      <div class="row">
        <div class="offset-sm-0 col-sm-12 col-md-6 offset-lg-1 col-lg-4">
            <br>
            <button class="btn btn-secondary btn-gender-any" style="width: 100%;"> <i class="fas fa-venus-mars"></i> &nbsp; Any Gender </button>
            <button class="btn btn-male btn-gender-male" style="width: 100%;"> <i class="fas fa-mars "></i> &nbsp; Male only</button>
            <button class="btn btn-female btn-gender-female" style="width: 100%;"> <i class="fas fa-venus "></i> &nbsp; Female only</button>
            <br> <br>

            <button class="btn btn-secondary btn-student-any" style="width: 100%;"> <i class="fas fa-user-graduate"></i> &nbsp; Students </button>
            <button class="btn btn-success btn-student-yes" style="width: 100%;"> <i class="fas fa-user-graduate "></i> &nbsp; Students only </button>
            <br> <br>
            
            <button class="btn btn-secondary btn-wifi-any" style="width: 100%;"> <i class="fas fa-wifi"></i> &nbsp; Wifi </button>
            <button class="btn btn-success btn-wifi-yes" style="width: 100%;"> <i class="fas fa-wifi "></i> &nbsp; Have Wifi </button>
        </div>
        <div class="offset-sm-0 col-sm-12 col-md-6 offset-lg-2 col-lg-4"> 
            <br>
            <button class="btn btn-secondary btn-smoking-any" style="width: 100%;"> <i class="fas fa-smoking"></i> &nbsp; Smoking </button>
            <button class="btn btn-danger btn-smoking-no" style="width: 100%;"> <i class="fas fa-smoking"></i> &nbsp; No Smoking </button>
            <br> <br>

            <button class="btn btn-secondary btn-alcohol-any" style="width: 100%;"> <i class="fas fa-wine-bottle"></i> &nbsp; Alcohol </button>
            <button class="btn btn-danger btn-alcohol-no" style="width: 100%;"> <i class="fas fa-wine-bottle"></i> &nbsp; No Alcohol </button>
            <br> <br>            
            <button class="btn btn-secondary btn-pets-any" style="width: 100%;"> <i class="fas fa-paw"></i> &nbsp; Pets  </button>
            <button class="btn btn-danger btn-pets-no" style="width: 100%;"> <i class="fas fa-paw"></i> &nbsp; No Pets  </button>
        </div>
      </div>
     </div>

      <!-- Cards -->
    <div class="wrapper-flex">
     <div class="container-card ">
      <div class='banner-img'></div>
      <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
      <p class="roomNumber text-dark">Room #1</p>
      <p class="description">Hi there! My name is Anna and I am a book lover, traveler and professional blogger. Follow me to stay connected!</p>
      <ul>
        <li><a href="/room"><i class="fas fa-sign-in-alt"></i> Join</a></li>
        <li><a href="#"><i class="fas fa-flag-checkered"></i> Report</a></li>
        <li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
      </ul>
     </div>

     <div class="container-card heartbeat">
      <div class='banner-img'></div>
      <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
      <p class="roomNumber text-dark">Room #2</p>
      <p class="description">Hi there! My name is Anna and I am a book lover, traveler and professional blogger. Follow me to stay connected!</p>
      <ul>
        <li><a href="#"><i class="fas fa-sign-in-alt"></i> Join</a></li>
        <li><a href="#"><i class="fas fa-flag-checkered"></i> Report</a></li>
        <li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
      </ul>
      <div class='banner-img'></div>
     </div>

     <div class="container-card heartbeat">
      <div class='banner-img'></div>
      <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
      <p class="roomNumber text-dark">Room #3</p>
      <p class="description">Hi there! My name is Anna and I am a book lover, traveler and professional blogger. Follow me to stay connected!</p>
      <ul>
        <li><a href="#"><i class="fas fa-sign-in-alt"></i> Join</a></li>
        <li><a href="#"><i class="fas fa-flag-checkered"></i> Report</a></li>
        <li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
      </ul>
     </div>

     <div class="container-card heartbeat">
      <div class='banner-img'></div>
      <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
      <p class="roomNumber text-dark">Room #4</p>
      <p class="description">Hi there! My name is Anna and I am a book lover, traveler and professional blogger. Follow me to stay connected!</p>
      <ul>
        <li><a href="#"><i class="fas fa-sign-in-alt"></i> Join</a></li>
        <li><a href="#"><i class="fas fa-flag-checkered"></i> Report</a></li>
        <li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
      </ul>
     </div>

     <div class="container-card heartbeat">
        <div class='banner-img'></div>
        <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
        <p class="roomNumber text-dark">Room #4</p>
        <p class="description">Hi there! My name is Anna and I am a book lover, traveler and professional blogger. Follow me to stay connected!</p>
        <ul>
          <li><a href="#"><i class="fas fa-sign-in-alt"></i> Join</a></li>
          <li><a href="#"><i class="fas fa-flag-checkered"></i> Report</a></li>
          <li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
        </ul>
       </div>

       <div class="container-card heartbeat">
        <div class='banner-img'></div>
        <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
        <p class="roomNumber text-dark">Room #4</p>
        <p class="description">Hi there! My name is Anna and I am a book lover, traveler and professional blogger. Follow me to stay connected!</p>
        <ul>
          <li><a href="#"><i class="fas fa-sign-in-alt"></i> Join</a></li>
          <li><a href="#"><i class="fas fa-flag-checkered"></i> Report</a></li>
          <li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
        </ul>
       </div>
    </div>
   </div>   
 </section>
 <!-- End banner Area -->

 <script src="js/vendor/jquery-2.2.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="js/vendor/bootstrap.min.js"></script>
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
 <script src="js/easing.min.js"></script>
 <script src="js/hoverIntent.js"></script>
 <script src="js/superfish.min.js"></script>
 <script src="js/jquery.ajaxchimp.min.js"></script>
 <script src="js/jquery.magnific-popup.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/jquery.sticky.js"></script>
 <script src="js/jquery.nice-select.min.js"></script>
 <script src="js/parallax.min.js"></script>
 <script src="js/waypoints.min.js"></script>
 <script src="js/jquery.counterup.min.js"></script>
 <script src="js/mail-script.js"></script>
 <script src="js/main.js"></script>
</body>

</html>